<div class="jumbotron py-3">
    <h1 class="display-4 text-center">User details</h1>
</div>

<div class="row">
    <div class="col-md-6">

        <app-users-detail-form></app-users-detail-form>

    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>CityId</th>
                    <th>RoleId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ud of service.list">
                    <td (click)="populateForm(ud)">{{ud.FirstName}}</td>
                    <td (click)="populateForm(ud)">{{ud.LastName}}</td>
                    <td (click)="populateForm(ud)">{{ud.Username}}</td>
                    <td (click)="populateForm(ud)">{{ud.Password}}</td>
                    <td (click)="populateForm(ud)">{{ud.Email}}</td>
                    <td (click)="populateForm(ud)">{{ud.PhoneNumber}}</td>
                    <td (click)="populateForm(ud)">{{ud.CityId}}</td>
                    <td (click)="populateForm(ud)">{{ud.RoleId}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(ud.Id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

