<app-nav></app-nav>

<main class="form-signin">
  <router-outlet></router-outlet>
</main>

  
  <div class="container">
    <app-city-details></app-city-details>
  </div>

  <div class="container">
    <app-country-details></app-country-details>
  </div>

  <div class="container">
    <app-role-details></app-role-details>
  </div>

  <div class="container">
    <app-permission-details></app-permission-details>
  </div>

  <div class="container">
    <app-rp-details></app-rp-details>
  </div>

  <div class="container">
    <app-users-details></app-users-details>
  </div>
